<div fxLayout="column">
  <span class="button-container">
    <button matTooltip="Adicionar nova empresa" mat-fab (click)="criarEmpresa()">
      <mat-icon>add_home_work</mat-icon>
    </button>
  </span>

  <section *ngIf="dataSource.data.length">
    <mat-table [dataSource]="dataSource" class=" mat-elevation-z8">

      <ng-container matColumnDef="acao">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element"> <button matTooltip="Remover" class="delete-btn"
            (click)="deletarEmpresa(element)"><mat-icon class="delete-icon">delete</mat-icon>
          </button></mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Código empresa</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.nome }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="cnpj">
        <mat-header-cell *matHeaderCellDef>CNPJ</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.cnpj | cpfcnpj}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="telefone">
        <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.telefone }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="endereco">
        <mat-header-cell *matHeaderCellDef>Endereço</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.endereco.rua }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef>Nº</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.endereco.numero }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="colunaEmpresa"></mat-header-row>
      <mat-row *matRowDef="let row; columns: colunaEmpresa"></mat-row>
    </mat-table>
  </section>
</div>
<div *ngIf="!dataSource.data.length" style="display: flex; justify-content: center">
  <app-app-msg-tabela-vazia></app-app-msg-tabela-vazia>
</div>
