<h1>Adicionar novo usuário</h1>

<div>
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput type="text" [(ngModel)]="object.nome">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>CPF</mat-label>
    <input matInput mask="000.000.000-00" [(ngModel)]="object.cpf">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="text" [(ngModel)]="object.email">
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="object.telefone">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Endereço</mat-label>
    <input matInput type="text" [(ngModel)]="object.endereco">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Empresa</mat-label>
    <mat-select  [(ngModel)]="object.empresa  " >
      <mat-option [value]="empresa"
      *ngFor="let empresa of empresas">{{ empresa.nome  }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<span>
  <button (click)="salvarColaborador()" matTooltip="Salvar">
    <mat-icon> save</mat-icon>
  </button>
</span>
