div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.sim {
  background: #2dc42d;
  border: none;
  width: 10em;
  height: 2em;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.nao {
  border-radius: 10px;
  background: #e93434;
  border: none;
  width: 10em;
  height: 2em;
  cursor: pointer;
  color:
    white;
  font-size: 15px;
}

.toast-success {
  background-color: green;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
}
