<!-- <button [routerLink]="['/empresa']" routerLinkActive="router-link-active" mat-button color="accent"
    style="margin-right: 10px;">
    Empresa
  </button>
  <button [routerLink]="['/colaborador']" routerLinkActive="router-link-active" mat-button color="primary">
    Colaborador
  </button> -->

<body fxShow.gt-sm>
  <nav class="topnav" fxLayout="row">
    <a [routerLink]="['/empresa']" routerLinkActive="router-link-active">Empresa</a>
    <a [routerLink]="['/colaborador']" routerLinkActive="router-link-active">Colaborador</a>
  </nav>
</body>
