<div class="container">
  <div class="filtro-formulario">
    <mat-form-field appearance="outline">
      <mat-label>Empresa</mat-label>
      <mat-select (selectionChange)="filtrarTabela($event.value)">
        <mat-option [value]="empresa" *ngFor="let empresa of empresas">{{ empresa.nome }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="margin-right: 10px; ">
    <button mat-fab matTooltip="Adicionar novo colaborador" (click)="adiconarColaborador()">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>

</div>

<section fxLayout="row" *ngIf="filteredData.length" style="padding:10px">
  <mat-table [dataSource]="filteredData" class="mat-elevation-z8">

    <ng-container matColumnDef="acao">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button matTooltip="Remover" class="delete-btn" (click)="deletarUser(element)"><mat-icon
            class="delete-icon">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoColaborador">
      <mat-header-cell *matHeaderCellDef>Código colaborador</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.cpf | cpfcnpj }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element" class="email-cell">{{ element.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.telefone }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="endereco">
      <mat-header-cell *matHeaderCellDef>Endereço</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.endereco.rua }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="empresa">
      <mat-header-cell *matHeaderCellDef>Empresa</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.empresa.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cargo">
      <mat-header-cell *matHeaderCellDef>Cargo</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.cargo }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colunasTabela"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunasTabela"></mat-row>
  </mat-table>
</section>
<div *ngIf="!filteredData.length" style="display: flex; justify-content: center">
  <app-app-msg-tabela-vazia></app-app-msg-tabela-vazia>
</div>
