  <Legend>Endereço </Legend>
  <section [formGroup]="enderecoForm" class="endereco-form ">
    <mat-form-field appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput type="text" formControlName="cep" mask="00000-000" (blur)="buscarEnderecoPorCep()">
    </mat-form-field>

    <mat-form-field appearance="outline"  [style.width.rem]="50">
      <mat-label>Rua</mat-label>
      <input matInput type="text" formControlName="rua">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Numero</mat-label>
      <input matInput type="text" formControlName="numero">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Complemento</mat-label>
      <input matInput type="text" formControlName="complemento">
    </mat-form-field>

    <mat-form-field appearance="outline"  [style.width.rem]="35">
      <mat-label>Bairro</mat-label>
      <input matInput type="text" formControlName="bairro">
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.rem]="50.5">
      <mat-label>Cidade</mat-label>
      <input matInput type="text" formControlName="cidade">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>UF</mat-label>
      <input matInput type="text" formControlName="uf">
    </mat-form-field>
  </section>
