<h1>Adicionar nova empresa</h1>

<form [formGroup]="empresaForm">
  <div class="empresa-container">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="nome">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>CNPJ</mat-label>
      <input matInput mask="00.000.000/0000-00" formControlName="cnpj">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" mask="(00) 0 0000-0000">
    </mat-form-field>
  </div>

  <Legend>Endereço</Legend>
  <section formGroupName="endereco" class="endereco-form ">
    <mat-form-field appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput type="text" formControlName="cep" mask="00000-000" (blur)="buscarEnderecoPorCep()">
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.rem]="50">
      <mat-label>Rua</mat-label>
      <input matInput type="text" formControlName="rua">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Numero</mat-label>
      <input matInput type="text" formControlName="numero">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Complemento</mat-label>
      <input matInput type="text" formControlName="complemento">
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.rem]="35">
      <mat-label>Bairro</mat-label>
      <input matInput type="text" formControlName="bairro">
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.rem]="50.5">
      <mat-label>Cidade</mat-label>
      <input matInput type="text" formControlName="cidade">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>UF</mat-label>
      <input matInput type="text" formControlName="uf">
    </mat-form-field>
  </section>


</form>
<span>
  <button (click)=" adicionarEmpresa()" matTooltip="Salvar" [disabled]="empresaForm.invalid">
    <mat-icon> save</mat-icon>
  </button>
