/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.toast-success {
  display: flex;
  justify-content: center;
  background-color: rgb(42, 225, 42);
  color: white;
  position: fixed;
  top: 20px;
  margin-top: 3em;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.toast-error {
  display: flex;
  justify-content: center;
  background-color: rgb(225, 42, 42);
  color: white;
  position: fixed;
  top: 20px;
  margin-top: 3em;
  width: 100%;
}



Legend {
  margin-left: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.endereco-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.mat-typography h1 {
  font-family: sans-serif;
}


.save-btn-position {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.save-btn {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #22b880;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  display: flex;
  -webkit-transition: all 0.5s;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
}

.save-btn:disabled {
  background-color: grey;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
}

.close-icon {
  color: #bd0a0a;
  font-size: 25px
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.delete-icon {
  color: #dc4242;
}

.edit-icon{
  color: rgb(232, 179, 80);
}

/* column */
.mat-mdc-header-cell {
  text-align: center;
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

/* row */
.mat-mdc-cell {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

/* table */
.mat-mdc-table {
  background: #012B39;
  border-radius: 0.25em;

}

.button-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: right;
  margin-right: 10px;
}

.mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: #52be52;
}


.email-cell {
  display: flow-root;
}
