/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.toast-success {
  display: flex;
  justify-content: center;
  background-color: rgb(42, 225, 42);
  color: white;
  position: fixed;
  top: 20px;
  margin-top: 3em;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.toast-error {
  display: flex;
  justify-content: center;
  background-color: rgb(225, 42, 42);
  color: white;
  position: fixed;
  top: 20px;
  margin-top: 3em;
  width: 100%;
}


